<!-- Navigation -->
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-link" href="#">Captured.</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/">Home</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">About Captured.</h1>
                <p class="lead section-lead">Giving back the <b>social</b> in social media.</p>
                <p class="section-paragraph">Captured is about giving you back your freedom, while your pages never
                have to miss a moment. We match you with a nearby photographer who will capture your event.
                The social media specialist will be in charge of posting to your social media accounts -- Snapchat, Instagram, Facebook, Boomerang, Twitter--
                letting you get back to enjoying the party. Your social media specialist will create hashtags,
                consult with you about captions, and coordinate group photos. Never again does Tall Tracy's head need to get cut out
                of the selfie. Never again do you need to get out of the pool to go get your phone. Captured
                links you with passionate and creative local talent who's social media pages you can browse before selecting.
                Even if you don't remember the party, we will capture it for you.</p>
            </div>
        </div>
    </div>
</section>

<aside class="image-bg-fixed-height-about"></aside>
