<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-link" href="#">Captured.</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/profile">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/about">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/profile">Profile</a>
            </li>
            <li ng-if="model.currentUser != ''" class="nav-item">
                <a class="nav-link" ng-click="model.logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead section-lead">Create Event</p>

                <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

                <form class="cl-form-bottom-padding">
                    <label class="cl-register-label" for="username">Address (this will be hidden until day of
                        event):</label>
                    <input ng-model="model.job.location"
                           type="text"
                           class="form-control cl-register-options"
                           placeholder="address"
                           id="username" required>
                    <label class="cl-register-label" for="zip">Zip Code</label>
                    <input ng-model="model.job.zip"
                           type="text"
                           class="form-control cl-register-options"
                           placeholder="zip code"
                           id="zip" required>
                    <label class="cl-register-label" for="name">Name of Event</label>
                    <input ng-model="model.job.name"
                           type="text"
                           class="form-control cl-register-options"
                           maxlength="20"
                           placeholder="i.e. Pool part, weeding, date night, small gathering"
                           id="name" required>
                    <label class="cl-register-label" for="compensation">Compensation</label>
                    <input ng-model="model.job.compensation" type="text" class="form-control cl-register-options"
                           placeholder="Describe how photographer will be compensated."
                           id="compensation" required>

                    <label class="cl-register-label" for="date">Date</label>
                    <input ng-model="model.job.date" type="date" class="form-control cl-register-options"
                           placeholder="Describe how photographer will be compensated."
                           id="date" required>

                    <label class="cl-register-label" for="startTime">Start Time</label>
                    <input ng-model="model.job.startTime" type="time" class="form-control cl-register-options"
                           placeholder="Describe how photographer will be compensated."
                           id="startTime" required>

                    <label class="cl-register-label" for="endTime">End Time</label>
                    <input ng-model="model.job.endTime" type="time" class="form-control cl-register-options"
                           id="endTime" required>
                    <label class="cl-register-label" for="description">Describe Event.</label>
                    <textarea ng-model="model.job.description" class="form-control" id="description"
                              rows="3"></textarea>

                    <a ng-click="model.createJob(model.job)" class="btn btn-outline-primary btn-block">Post Event</a>
                    <a href='#!/profile' class="btn btn-outline-danger btn-block">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>