<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-link" href="#">Captured.</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="model.logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<form class="navbar-form cl-search">
    <div class="form-group" style="display:inline;">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="model.searchWords"  id="search" placeholder="Search for event by words...">
            <a ng-click="model.search()"><span ng-click="model.search()" class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span></a>
        </div>
    </div>
    <input ng-model="model.date" type="date" class="form-control cl-register-options"
           id="date" required>
</form>

<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

<hr>

<div class="container-fluid">
    <ul class="list-group cl-search">
        <li class="active">
            <div class="row">
                <div class="col-9 col-lg-3">
                    <p class="cl-register-options"><b>Name</b></p>
                </div>

                <div class="col-sm-2 hidden-md-down">
                    <p class="cl-register-options"><b>Date</b></p>
                </div>

                <div class="col-2 hidden-md-down">
                    <p class="cl-register-options"><b>Location</b></p>
                </div>

                <div class="col-3 hidden-md-down">
                    <p class="cl-register-options"><b>Compensation</b></p>
                </div>
                <div class="col-xs-2">
                    <p class="cl-register-options"><b>Apply</b></p>
                </div>
            </div>
        </li>

        <li ng-repeat="job in model.jobsList">
            <div class="row cl-list-row">
                <div class="col-9 col-lg-3">
                    <a>
                        <p class="cl-list-font">{{job.name}}</p>
                    </a>
                </div>
                <div class="col-sm-2 hidden-md-down">
                    <p class="cl-list-font">{{job.date | date : 'shortDate'}}</p>
                </div>
                <div class="col-2 hidden-md-down">
                    <p class="cl-list-font">{{job.zip}}</p>
                </div>
                <div class="col-3 hidden-md-down">
                    <p class="cl-list-font">{{job.compensation}}</p>
                </div>
                <div class="col-xs-2">
                    <a href="#!/job-view/{{job._id}}">
                        <span><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                        </span></a>
                </div>
            </div>
        </li>
    </ul>
</div>



