body {
    padding-top: 70px;
    padding-bottom: 70px;
}

input.form-control {
    margin-bottom: 5px;
}

.cl-form-bottom-padding {
    margin-bottom: 2em;
}

.cl-form-bottom-padding-none {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.cl-container-padding {
    padding-top: 5%;
    padding-bottom: 10%;
}

.cl-widget {


}

.cl-web-navbar {
    background-color: #53b7ab;
}

.cl-navbar-text {
    position: absolute;
    font-weight: bold;
    padding-left: 0px;
    color: #5effa4;
}


.cl-icon-navbar {
    color: #5effa4;
    padding-right: 15px;
    padding-left: 15px;
}


.cl-text-white {
    color: #fff;
}

.cl-form-label-soft {
    font-weight: normal;
    margin-bottom: 0;
}

.cl-text-black {
    color: #000000;
}

.cl-text-bold {
    font-weight: bold;
}

.cl-icon-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.cl-header-padding {
    padding-left: 5%;
}

.cl-full-width {
    width: 100%;
}

.cl-widget-list-item {
    padding-bottom: 20px;
}

.cl-v-divider {
    border-right: 1px solid #808080;
    height: 100%;
}

.cl-widget-heading {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cl-widget-heading > h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom:0px;
}
.cl-widget-heading > h2 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom:0px;
}


.cl-widget-paragraph {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cl-height {
    height: 100%;
    min-height: 100%;
}

.cl-relative-position {
    position: relative;
}

.cl-absolute-position {
    position: absolute;
}

.cl-icon-page {
    color: #7dc2ff;

}

.cl-widget-list-icons {
    position: relative;
    float: right;
    top: 17px;
    right: 5px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
}

.cl-zero-right-padding {
    padding-right: 0px;
}

.cl-list-item-borderless {
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

.cl-widget-images {
    display: inline;
    width: 85%;
    z-index: 100;
    position: relative;
}

.cl-my-name {
    color: #ffffff;
    font-family: Serif;
}