<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">
            <a href="#/user/:uid/website" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/:uid/website/:wid/page/new" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Pages
        </a>
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group cl-form-bottom-padding-none">
            <label for="page-name" class="cl-form-label-soft">Name</label>
            <input ng-model="model.name" type="text" class="form-control" id="page-name" placeholder="Page Name">
        </div>
        <div class="form-group cl-form-bottom-padding-none">
            <label for="page-description" class="cl-form-label-soft">Title</label>
            <input ng-model="model.description" id="page-description" class="form-control" placeholder="Page Title">
        </div>
        <a class="btn btn-danger  btn-block" href="page-list.view.client.html">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#/user/:uid" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>