<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="../pages/page-list.view.client.html" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-chooser.view.client.html" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Widgets
        </a>
    </div>
</nav>


<div class="container">
    <ul class="list-group cl-list-group-borderless">
        <li ng-repeat="widget in model.widgets" class="list-group-item cl-list-item-borderless">
            <a href="#!/user/{{website.developerId}}/website/{{website._id}}/page/{{page._id}}/widget/{{widget._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a href="#!/user/{{website.developerId}}/website/{{website._id}}/page/{{page._id}}/widget">{{page.name}}</a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#!/user/:uid" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
