<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">
            <a href="../website/website-list.view.client.html" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-list.view.client.html" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Widget Edit
        </a>
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group cl-form-bottom-padding-none">
            <label for="heading-name" class="cl-form-label-soft">Name</label>
            <input ng-model="model.name" type="text" class="form-control" id="heading-name" placeholder="">
        </div>
        <div class="form-group cl-form-bottom-padding-none">
            <label for="heading-text" class="cl-form-label-soft">Text</label>
            <input ng-model="model.text" id="heading-text" class="form-control" placeholder="This is example text.">
        </div>
        <div class="form-group cl-form-bottom-padding-none">
            <label for="size-selection" class="cl-form-label-soft">Size</label>
            <input ng-model="model.size" type=number id="size-selection" class="form-control" placeholder="">
        </div>
        <a class="btn btn-danger  btn-block" href="page-list.html">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="../user/profile.view.client.html" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
