<div ng-switch="model.widget.type">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/editors/widget-image-edit.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/editors/widget-youtube-edit.view.client.html'"></ng-include>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom  cl-web-navbar">
    <div class="container-fuild">
        <a href="#!/profile" class="navbar-link navbar-text pull-right cl-navbar-text cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
