<h2>{{widget.name}}</h2>
    <div class="embed-responsive embed-responsive-16by9" class="youtube-widget">
        <iframe width="640" height="360" ng-src="{{model.trustSrc(widget.url)}}" frameborder="0" allowfullscreen></iframe>"
        <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger cl-widget-list-icons"></span>
        </a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}" class="pull-right">
            <span class="glyphicon glyphicon-cog cl-widget-list-icons"></span>
        </a>
    </div>
<p>{{widget.text}}</p>
