<nav class="navbar  navbar-fixed-top cl-web-navbar">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page">
          <span class="glyphicon glyphicon-chevron-left cl-icon-navbar">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
          <span class="glyphicon glyphicon-plus cl-icon-navbar">
          </span>
            </a>
        </div>
        <a class="cl-navbar-text navbar-brand">
            Widgets
        </a>
    </div>
</nav>

<div id="sortable" wbdv-sortable callback="model.callBack(start, end)">
    <div class="container-fluid" ng-repeat="widget in model.widgets">
        <div class="cl-widget cl-widget-list-item" ng-switch="widget.type">
            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/templates/widget-heading.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom cl-web-navbar">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">
            <a href="#!/user/{{model.uid}}" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user cl-icon-navbar"></span>
            </a>

        </div>
    </div>
</nav>
