<nav class="navbar  navbar-fixed-top cl-web-navbar">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget">
          <span class="glyphicon glyphicon-chevron-left cl-icon-navbar">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!//website/{{model.wid}}/page/{{model.pid}}/widget/new">
          <span class="glyphicon glyphicon-plus cl-icon-navbar">
          </span>
            </a>
        </div>
        <a class="cl-navbar-text navbar-brand">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group cl-list-group-borderless">
        <li class="list-group-item cl-list-item-borderless">
            <a ng-click="model.createWidget('HEADING')">Header</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="">Label</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="">HTML</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="">Text Input</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="">Button</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a ng-click="model.createWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a ng-click="model.createWidget('YOUTUBE')">Youtube</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="">Data Table</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom cl-web-navbar">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">
            <a href="#!/profile" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user cl-icon-navbar"></span>
            </a>

        </div>
    </div>
</nav>
