<nav class="navbar narbar-default navbar-fixed-top cl-web-navbar">
    <div class="container">
        <a class="navbar-brand cl-navbar-text" href="#">
            Profile
        </a>
        <a ng-click="model.updateUser()" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-ok cl-icon-navbar"></span>
        </a>
    </div>
</nav>

<div class="container">
    <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>
    <form class="cl-form-bottom-padding">
        <label for="username">Username</label>
        <input ng-model="model.user.username" type="text" class="form-control" placeholder="Username" id="username" required>
        <label for="email">Email</label>
        <input ng-model="model.user.email" type="email" class="form-control" placeholder="add email" id="email" required>
        <label for="fName">First Name</label>
        <input ng-model="model.user.firstName" type="text" class="form-control" placeholder="first name" id="fName" required>
        <label for="lName">Last Name</label>
        <input ng-model="model.user.lastName" type="text" class="form-control" placeholder="last name" id="lName" required>
    </form>

    <a href="#!/user/{{model.user._id}}/website" class="btn btn-primary btn-block">Websites</a>
    <a href="#!/login" class="btn btn-danger btn-block">Logout</a>
</div>

<nav class="navbar navbar-fixed-bottom cl-web-navbar">
    <div class="container-fluid">
        <a href="#!/user/{{model.user._id}}" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user cl-icon-navbar"></span>
        </a>

    </div>
</nav>