<nav class="navbar narbar-default navbar-fixed-top cl-web-navbar">
    <div class="container-fluid">
        <a href="#!/user/{{model.userId}}/website" class="navbar-link navbar-text pull-left cl-icon-navbar">
            <span class="glyphicon glyphicon-chevron-left "></span>
        </a>
        <a class="navbar-brand cl-navbar-text">
            Pages
        </a>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link navbar-text pull-right cl-icon-navbar">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group cl-list-group-borderless">
        <li ng-repeat="page in model.pages" class="list-group-item cl-list-item-borderless">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-fixed-bottom  cl-web-navbar">
    <div class="container-fuild">
        <a href="#!/user/{{model.userId}}" class="navbar-link navbar-text pull-right cl-icon-navbar cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
