<nav class="navbar narbar-default navbar-fixed-top cl-web-navbar">
    <div class="container-fluid">
        <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
           class="navbar-link navbar-text pull-left cl-icon-navbar">
            <span class="glyphicon glyphicon-chevron-left "></span>
        </a>
        <a class="navbar-brand cl-navbar-text">
            Create Image Widget
        </a>
        <a ng-click="model.createWidget()"  class="navbar-link navbar-text pull-right cl-icon-navbar">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<!--Body of the Page-->
<div class="container">
    <div ng-show="model.error" class="alert alert-danger rt-alert-padding" role="alert">{{model.error}}</div>

    <form>
        <div class="form-group">
            <label for="widget-image-name">Name</label>
            <input ng-model="model.name" type="text" class="form-control" id="widget-image-name"
                   placeholder="Name">
        </div>
        <div class="form-group">
            <label for="widget-image-text">Text</label>
            <input ng-model="model.text" type="text" class="form-control" id="widget-image-text"
                   placeholder="Text">
        </div>
        <div class="form-group">
            <label for="widget-image-url">URL</label>
            <input ng-model="model.url" type="text" class="form-control" id="widget-image-url"
                   placeholder="http://www.example.com">
        </div>
        <div class="form-group">
            <label for="widget-image-width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="widget-image-width"
                   placeholder="100%">
        </div>
        <div class="form-group">
            <label for="widget-image-file-chooser">Upload</label>
            <input type="file" id="widget-image-file-chooser">
            <p class="help-block">Upload the image from your device.</p>
        </div>
        <a id="widget-image-upload-btn" class="btn btn-primary btn-block">Upload Image</a>
        <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block" id="widget-heading-create-btn">Delete</a>
    </form>
</div>


