<nav class="navbar narbar-default navbar-fixed-top cl-web-navbar">
    <div class="container-fluid">
        <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
           class="navbar-link navbar-text pull-left cl-icon-navbar">
            <span class="glyphicon glyphicon-chevron-left "></span>
        </a>
        <a class="navbar-brand cl-navbar-text">
            Create YouTube Widget
        </a>
        <a ng-click="model.createWidget()"  class="navbar-link navbar-text pull-right cl-icon-navbar">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>
<!--Body of the Page-->
<div class="container">
    <div ng-show="model.error" class="alert alert-danger rt-alert-padding" role="alert">{{model.error}}</div>

    <form>
        <div class="form-group">
            <label for="widget-youtube-name">Name</label>
            <input ng-model="model.name" type="text" class="form-control" id="widget-youtube-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="widget-youtube-text">Text</label>
            <input ng-model="model.text" type="text" class="form-control" id="widget-youtube-text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="widget-youtube-url">URL</label>
            <input ng-model="model.url" type="text" class="form-control" id="widget-youtube-url"
                   placeholder="https://www.youtube.com/watch?v=xxxxxxxxx">
        </div>
        <div class="form-group">
            <label for="widget-youtube-width">Width</label>
            <input  ng-model="model.width" type="text" class="form-control" id="widget-youtube-width" placeholder="100%">
        </div>
        <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block" id="widget-youtube-create-btn">Delete</a>
    </form>
</div>
